<!DOCTYPE html>
<html>
<head>
	<title>Session Words</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'first_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div>
		<h4>Add a new word</h4>
		<form action="/session_words" method="post">
			{% csrf_token %}
			<input type="text" name="word">
			Choose color<br>
			<input type="radio" name="color" value="Red">Red<br>
			<input type="radio" name="color" value="Green">Green<br>
			<input type="radio" name="color" value="Blue">Blue<br>
			<input type="checkbox" name="big" value="Big">Show in BIG fonts!<br>
			<input type="submit" name="submit" value="Add to Session">
		</form>
	</div>
	<div>		
		<form action="/clear" method="post">
			{% csrf_token %}
			<input type="submit" name="clear" value="Clear Session">
		</form>
		{% for word in request.session.word %}
			<span class="{{word.class1}} {{word.class2}}">{{word.word}}</span> - added on {{word.time}}<br>
		{% endfor %}
	</div>
		
</body>
</html>