<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Login and Register</h1>
	<br>
	{% for error in errors %}
		{{error}}
		<br>
	{% endfor %}
	<h3>Register</h3>
	<form action="/register" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="reg">
		Name:<input type="text" name="name">
		<br>
		Username:<input type="text" name="username">
		<br>
		Password:<input type="password" name="password">
		<br>
		Confirm Password:<input type="password" name="confirm_password">
		<br>
		<input type="submit" name="submit">
	</form>
	<form action="/login" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="log">
		Username:<input type="text" name="username">
		<br>
		Password:<input type="password" name="password">
		<br>
		<input type="submit" name="submit">
	</form>
</body>
</html>