<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add a New Course</h1>
	{% for error in errors %}
		<p>{{error}}</p>
	{% endfor %}
	<form action="/add" method="post">
		{% csrf_token %}
		Name: <input type="text" name="name">
		Description: <input type="textarea" name="desc">
		<input type="submit" name="submit" value="Add">
	</form>
	<h1>Courses:</h1>
	<table>
		<tr>
			<th>Course Name</th>
			<th>Description</th>
			<th>Date Added</th>
			<th>Actions</th>
		</tr>
		{% for course in courses %}
			<tr>
				<td>{{course.name}}</td>
				<td>{{course.desc}}</td>
				<td>{{course.created_at}}</td>
				<td><a href="/destroy/{{course.id}}">remove</a> | <a href="/comment/{{course.id}}">comment</a></td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>