<!DOCTYPE html>
<html>
<head>
	<title>Full Friends</title>
</head>
<body>
	<h2>Friends:</h2>
	<table id="friend">
		<th>
			<td>Friend</td>
			<td>Age</td>
			<td>Friend Since</td>
		</th>
		<!-- {{ full_friends }} -->
			<tr>
		{% for friend in full_friends: %}
				<td>{{ friend['name']}}</td>
				<td>{{ friend['age']}}</td>
				<td>{{ friend['friend_since']}}</td>
			</tr>
		{% endfor %}
	</table>
	<h2>Add a Friend:</h2>
	<form action="/friend" method="POST">
		name: <input type="text" name="name">
		Age: <input type="text" name="age">
		<input type="submit" name="submit">
	</form>
</body>
</html>